@import '@metro-prez/styles';

@include animations();

.loaderContainer {
  position: absolute; // This is required.
  top: 0;
  left: 0;
  z-index: 1000;

  min-height: 450px; // This can be whatever.
  width: 100%;

  background: #fff;
}

.standardLoader {
  @include loader('standard');
}

.standardDarkLoader {
  @include loader('standard--dark');
}
