
* {
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

body {
  background: #ffffff;; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
p,
text,
div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//
// Mobile
// ------------------------------------------------------------------------

.article-section {
  width: 100%;
  padding: 2rem 0;

  margin: 50px 0;

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }
}

.article-section__header,
.article-section__super-subsection,
.article-section__subsection {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

}


//
// Desktop

@media (max-width: 550px) {
  .article-section {
    width: 100%;
    padding: 3rem 0;
  }

  .article-section__header,
  .article-section__subsection {
    max-width: 840px;
    padding: 0;
  }

  .article-section__super-subsection {
    max-width: 1080px;

  }
}


