
//
// Mobile
// ------------------------------------------------------------------------

// Header navigation
.header-nav {
  width: 100%;
  height: 48px;

  background: #000000;//$color__brand;
  transition: all 350ms ease;

  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  text-align: center;

  // Header navigation logo
  &__logo {
    max-width: 65%;
    display: inline-block;
    height: 100%;
    position: relative;

    // Header navigation logo image
    $logo-width-size-percentage: 0.75;

    &.is--theage {
      $the-age-logo-width: 284px;

      width: $the-age-logo-width * $logo-width-size-percentage;
    }
    &.is--smh {
      $smh-width: 376px;

      width: $smh-width * $logo-width-size-percentage;
    }
    &.is--brisbanetimes {
      $bt-width: 294px;

      width: $bt-width * $logo-width-size-percentage;
    }
    &.is--watoday {
      $wa-today-width: 178px;
      width: $wa-today-width * $logo-width-size-percentage;
    }

    &__image {
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    // Header navigation logo link
    &__link {
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 100000;
    }
  }
}


//
// Desktop
// ------------------------------------------------------------------------

// @include break-point('at least', 'small') {
//   // Header navigation
//   .header-nav {
//     height: 56px;
//   }

//   .header-nav__logo {
//     max-width: 100%;
//   }
//   .header-nav__back__text {
//     display: inline;
//   }

//   .header-nav__back {
//     left: 20px;
//   }
// }
