@import '@metro-prez/styles';

//
// Mobile
// ------------------------------------------------------------------------

.article-credits {
  &__header {
    @include fonts__sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 16px 0;

    border-top: 3px solid #292929;
    //border-top: 3px solid $color__brand;
    border-bottom: 1px solid $color__mischka;
    color: #ffffff;
  }
  &__list {
    list-style: none;
    padding: 16px 0;

    &__item {
      @include fonts__sans-serif;

      word-break: keep-all;
      display: inline;
      margin-right: 8px;
      line-height: 1.6;

      &__name{

        a{
          color: #d8d8d8;
          text-decoration:underline ;
        }
      }

      @include break-point('at least', 'medium') {
        word-break: none;
    }

      &__role {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
